---
import DashboardComponent from "./react/DashboardComponent"
import { type DailyEntry } from "../types/DailyEntry";


---


<div id="dashboard">
    <DashboardComponent client:load/>
</div>

<script>

</script>